.grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 350px);
    grid-auto-columns: repeat(3, 350px);
    gap: 20px;
}

.elem {
    border: 1px solid red;
    height: 500px;
}