.recipe {
border-radius: 20px;
height: 400px;
cursor: pointer;
&:hover{
    img{
        transform: scale(1.1);
    }
    .recipeTitle{
        color: var(--primary);
    }
}
}

.imageContainer {
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    img{
     width: 100%;
     transition: .5s transform;
    }
}

.recipeTitle {
    height: 100px;
    transition: .4s color;
    border: 1px solid var(--gray-2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

