.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.m-5 {
margin: 5px;
}

.m-10 {
margin: 10px;
}

.m-20 {
margin: 20px;
}

.m-30 {
margin: 30px;
}

.m-b {
    margin-bottom: 20px;
    }
    