:root{
     --primary: #ff6348 ;
     --gray-1: rgb(32,35,42);
     --gray-2: #fefefe;
     --font-family: 'Montserrat', sans-serif ;
     --box-shadow: rgb(0 0 0 /15%) 0 6px 9px ;
     --box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;
    --text-color: #444;
}